@font-face {
    font-family: "neue";
    src: url('./assets//fonts/NeueHaasDisplayMediu.ttf');
}

@font-face {
    font-family: "neue";
    font-weight: 100;
    src: url('./assets/fonts/NeueHaasDisplayLight.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    position: relative;
    z-index: 10;
}

#page1 {
    width: 100%;
    min-height: 100vh;
    background-color: #EFEAE3;
    padding: 0 2vw;
}

nav {
    width: 100%;
    padding: 2vw 0vw;
    position: relative;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h3 {
    display: none;
}

#nav-2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-2 h4 {
    letter-spacing: -1px;
    font-family: "Ubuntu", sans-serif;
    position: relative;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: 10;
    color: rgba(0, 0, 0, 0.762);
    border: 1px solid #D9D3CD;
    border-radius: 50px;
    overflow: hidden;
    transition: all ease 0.5s;
}

#nav-2 h4::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: -100%;
    border-radius: 50%;
    left: 0;
    height: 100%;
    background-color: black;
    transition: all ease 0.5s;
}

#nav-2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-2 h4 a {
    text-decoration: none;
    z-index: 9;
    position: relative;
    color: rgba(0, 0, 0, 0.762);
}

#nav-2 h4:hover a {
    color: white;

}

#center {
    font-family: "neue";
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-bottom: 2.5vw;
}

#center h1 {
    font-size: 12vw;
    line-height: 9vw;
    text-align: right;
}

#left {
    color: #0B0500;
    width: 32vw;
    line-height: 1.9vw;
    font-weight: 400;
    font-size: 1.9vw;
}

#page1 video {
    position: relative;
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
}

#shapes {
    width: 46vw;
    height: 60vh;
    position: absolute;
    right: 0;
    top: 85vh;

}

#move-1 {
    height: 100%;
    width: 100%;
    border-top-left-radius: 20vh;
    border-bottom-left-radius: 20vh;
    background-color: #FE330A;
    position: absolute;
    filter: blur(10px);
}

#move-2 {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background: linear-gradient(#FE330A, rgb(209, 52, 0));
    position: absolute;
    filter: blur(25px);
    animation-name: giggle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#move-3 {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background: linear-gradient(#FE330A, rgb(209, 52, 0));
    position: absolute;
    filter: blur(25px);
    animation-name: wiggle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes wiggle {
    from {
        transform: translate(40%, -10%) skew(0);
    }

    to {
        transform: translate(0%, 15%) skew(-10deg);
    }
}

@keyframes giggle {
    from {
        transform: translate(5%, -10%) skew(0);
    }

    to {
        transform: translate(-30%, 30%) skew(10deg);
    }
}

#page2 {
    min-height: 100vh;
    width: 100%;
    padding: 6vw 0;
    position: relative;
    background-color: #EFEAE3;
}

#moving-text {
    white-space: nowrap;
    overflow-x: scroll;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation: scrollingText 7s infinite linear;
}

#moving-text h1 {
    font-size: 9vw;
    font-family: 'neue';
    letter-spacing: 3px;
    display: inline-block;

}

.orange-circle {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: #FE330A;
    border-radius: 50px;
    margin: 1vw 1.5vw;
}

@keyframes scrollingText {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 80vh;
    width: 100%;
    padding: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

#page2-bottom h1 {
    font-size: 4vw;
    width: 50%;
    line-height: 3.5vw;
}

#bottom-part2 {
    width: 20%;
}

#bottom-part2 img {
    width: 100%;
    border-radius: 10px;
}

#bottom-part2 p {
    font-weight: 100;
    margin-top: 2vw;
    font-size: 1.2vw;
}

#goey {
    width: 30vw;
    height: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #FE330A, rgb(255, 93, 39));
    top: 56%;
    left: 26%;
    filter: blur(20px);
    animation: gooey 5s alternate-reverse infinite linear;
    animation-timing-function: ease-in-out;
}

@keyframes gooey {
    from {
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }

    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-10deg);
    }
}

#page3 {
    width: 100%;
    min-height: 60vh;
    padding: 4vw 0;
    background-color: #EFEAE3;
}

.element {
    height: 150px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgb(193, 193, 193);
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 3vw;
}

.element h2 {
    font-family: 'neue';
    font-size: 4vw;
    position: relative;
    z-index: 9;
}

.element .overlay {
    width: 100%;
    height: 100%;
    background-color: #FF9831;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.3s;
}

.element:hover .overlay {
    top: 0;
}

#fixed-image {
    height: 30vw;
    width: 24vw;
    border-radius: 15px;
    position: fixed;
    left: 50%;
    top: 15%;
    z-index: 99;
    display: none;
    background-size: cover;
    background-position: center;
}

#page4 {
    height: 60vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 6vw 2vw;
}

.swiper {
    width: 100%;
    height: 100%;

}

.swiper-slide {
    padding: 1vw 2vw;
    font-size: 18px;
    width: 20%;
    border-left: 1px solid #383838;
}

.swiper-slide p {
    margin: 1vw 0;
    font-family: 'neue';
    font-weight: 100;
}

#page5 {
    width: 100%;
    height: 100vh;
}

#footer {
    background-color: #0B0500;
    position: fixed;
    z-index: 9;
    height: 105vh;
    width: 100%;
    bottom: 0;
    color: #EFEAE3;
    padding: 1vw 3vw;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#footer h1 {
    font-size: 23vw;
    font-family: 'neue';
}


#footer_div {
    height: 20vh;
    width: 100%;
    background-color: #ff512e;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 6vw;
    padding-right: 6vw;
    display: flex;
}

#footer-nav-links {
    width: auto;
    padding: 1vw 3vw;
}

#footer-nav-links h4 {
    font-family: 'neue';
    font-size: 2vw;
}

#footer-nav-links a {
    text-decoration: none;
    color: #EFEAE3;
}

#footer-form {
    width: 30%;
    font-family: 'neue';
    margin: 2vw 0;
}

#footer-form form {
    margin: 1vw 0;
}

#footer-form input {
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1.2vw;
    color: #a2958b;
    border-bottom: 1px solid #EFEAE3;
}

#footer-form button {
    background-image: url('./assets/reshot-icon-arrow-right-GKTFPJDL97.svg');
    background-repeat: no-repeat;
    color: transparent;
    width: 2vw;
    border-bottom: 1px solid #EFEAE3;
    height: 1.3vw;
    border: none;
    background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;
}

#footer-bottom {
    border-top: 1px solid white;
    height: 10vh;
    width: 100%;
}

#fullscr {
    height: 100vh;
    width: 100%;
    background-color: #efeae353;
    position: fixed;
    z-index: 99;
    top: -200%;
    transition: all ease 0.5s;
}

#div1 {
    height: 70%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
}

#div1 h4 {
    font-size: 21vw;
    text-align: right;
    transition: all ease 0.5s;
}

#div1 a:hover {
    font-size: 22vw;
    color: #333333;
    transition: all ease 0.3s;
}

#div1 a {
    text-decoration: none;
    color: #0B0500;
    font-family: 'neue';
}

@media (max-width:600px) {
    #page1 {
        width: 100%;
        min-height: 100vh;
        padding: 0 0vw;
    }

    nav {
        padding: 8vw 8vw;
        background-color: #EFEAE3;
        position: relative;
        z-index: 100;
    }

    nav img {
        height: 13vw;
        transition: all ease 0.2s;
    }

    #nav-2 {
        display: none;
    }

    nav h3 {
        display: block;
        padding: 2vw 5vw;
        border: 1px solid #a2958b;
        border-radius: 30px;
        font-size: 4vw;
        font-family: 'neue';
        font-weight: 100;
        padding-left: 5vw;
    }

    nav h3 img {
        width: 35px;
        height: 16px;
        padding-right: 1vw;
    }

    #center {
        height: 80vh;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        margin: 10vw 5vw;
        position: relative;
        z-index: 9;
    }

    #center h1 {
        font-size: 20vw;
        font-weight: 500;
        line-height: 16vw;
        text-align: right;
        padding: 5vw 10vw;
    }

    #left {
        color: #0B0500;
        width: 65vw;
        line-height: 6vw;
        font-weight: 400;
        font-size: 6vw;
        margin-right: 35vw;
    }

    #left h3 {
        text-align: left;
    }

    #page1 video {
        position: relative;
        width: 90%;
        border: 1px solid transparent;
        height: 50vh;
        object-fit: cover;
        object-position: center;
        border-radius: 25px;
        margin-top: 1vw;
        margin-left: 5%;
    }

    #shapes {
        width: 75vw;
        height: 50vh;
        position: absolute;
        right: 0;
        top: 90vh;

    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        padding: 6vw 0;
        position: relative;
        background-color: #EFEAE3;
    }

    #moving-text h1 {
        font-size: 11vw;
    }

    .orange-circle {
        width: 20px;
        height: 20px;
    }

    #page2-bottom {
        min-height: 80vh;
        width: 100%;
        padding: 4vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 9;
        flex-direction: column;
    }

    #page2-bottom h1 {
        font-size: 10vw;
        width: 100%;
        font-family: 'neue';
        line-height: 8vw;
        margin: 1vw 0;
    }

    #bottom-part2 {
        width: 100%;
    }

    #bottom-part2 img {
        margin-top: 11vw;
        width: 70%;
        border-radius: 10px;
    }

    #bottom-part2 p {
        font-weight: 100;
        margin-top: 5vw;
        width: 70%;
        font-size: 4.5vw;
    }

    #goey {
        width: 70vw;
        height: 70vw;
        top: 36%;
        left: 40%;
    }

    #page3 {
        padding: 20vw 0;
    }

    .element {
        height: 150px;
        width: 100%;
        position: relative;
        border-bottom: 1px solid rgb(193, 193, 193);
        display: flex;
        align-items: center;
        overflow: hidden;
        padding: 0vh 3vw;
    }

    .element h2 {
        font-size: 7vw;
        position: relative;
        z-index: 9;
    }

    #fixed-image {
        height: 60vw;
        width: 44vw;
    }

    #page4 {
        height: 60vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 6vw 2vw;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        padding: 10vw 5fvw;
        font-size: 18px;
        width: 70%;
        border-left: 1px solid #383838;
    }

    .swiper-slide p {
        margin: 1vw 0;
        font-family: 'neue';
        font-weight: 100;
    }
}

#loader {
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 1s;
}